
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
}

/* nav css start from here  */
.logo-section {
    grid-area: logo;
  }
.navsec-2{
    display:flex;
    gap:5%;
    grid-area: nav-middle;

  }
.navsec-3{
    grid-area: nav-last;
  }

nav{
    position: fixed;
    background-color: #D7EDFF;
    padding: 1.5%;
    display: grid;
    color: #003C96;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
    "logo logo logo logo nav-middle nav-middle nav-middle nav-middle nav-last nav-last nav-last nav-last"
    ;
    align-items: center;
}
nav a{
    cursor: pointer;
}

.logo-section {
    display:flex;
    align-items: center;
    margin-left: 50%;
    gap:2%;
}
.navsec-3{
    display:flex;
    align-items: center;
    gap: 5%;
}
.login-signup{
    cursor: pointer;
}
.logo{
    padding: 5px;
    color:#003C96;
    font-size: 80%;
}
.fa-brands:hover{
    color: #007CFF;
}

.login-signup{
    border-radius: 40px;
    padding: 0.5vw;
    border: 2px solid #003C96;
}
.search-icon{
    font-size: 70%;
   
}
.login-signup:hover{
    background-color: #003C96;
    color:#ffff;
}
.bar{
    display: flex;
    align-items: center;
    display: none;
}
/* nav css end  */
/* header section  */
.header-search{
    height: 100%;
    /* margin-top: 10%; */
   text-align: center;
  
}
.header-search p{
    font-size: 200%;
    color: #003C96;
    padding-top: 15%;
 }
input[type="text"] {
    border-radius: 50px;
	width: 40vw;
  	height: 45px;
  	padding: 3px;
  	font-size: 1rem;
  	border: 1px solid gray;
}
.header-content p , i{
font-size: 200%;
color: #003C96;
}
.get-started{
    grid-area: get-started;
}
.manage-account{
    grid-area: manage-account;
}
.find-save{
    grid-area: find-save;
}
.create-edit{
    grid-area: create-edit;
}
.connect{
    grid-area: connect;
}
.Privacy{
    grid-area: privacy;
}
.header-content{
    margin-left: 5%;
    margin-top: 5%;
    padding-bottom:10% ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "get-started manage-account find-save"
    "create-edit connect privacy"
    ;
    row-gap: 10%;
}
.header-content a{
    display: block;
    cursor: pointer;
    color: #003C96;
    padding-top:10% ;
   
}
.header-content a :hover{
   color:#007CFF;
   background-color: black;
   
}
a:hover{
    color:#007CFF;
    text-decoration: underline;
}
.feature-article{
    height: 400px;
    background-color: #007CFF;
    text-align: center;
    font-size: 400%;
}
.feature-article p{
    margin-top: 10%;
}
@media only screen and (max-width: 576px) {
    nav{
        background-color: #D7EDFF;
        padding: 2%;
        display: grid;
        color: #003C96;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: 
        "logo logo logo logo logo logo"
        "nav-middle nav-middle nav-middle nav-middle nav-middle nav-middle"
        ;
    }
    .bar{
        display: flex;
        gap: 5px;
        margin-left: 90%;
    }
    .navsec-3{
        display:none;
        
    }
    .search-icon{
        font-size: 120%;
       
    }
    .navsec-2{
        margin-left: 100px;
      }
      .logo-section {
        display:flex;
        align-items: center;
     margin: 0;
        gap:2%;
    }
    .header-search p{
        font-size: 120%;
        color: #003C96;
        padding-top: 25%;
     }
     input[type="text"] {
        border-radius: 50px;
        width: 80%;
          height: 50px;
          padding: 3px;
          font-size: 0.8rem;
          border: 1px solid gray;
    }
    .header-content{
        margin-left: 5%;
        margin-top: 10%;
        display: block;
      
    }
    .header-content div{
        padding-top: 30px;
    }
  }